body {
    font-family: Pokemon Hollow, Pokémon Solid;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pokedex {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-card {
    width: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card h3 {
    margin: 0;
    padding: 10px 0;
}
